---
layout: default
---

<section class="Section--hero Hero">

	<div class="Wrapper">

		<ul>
			<li>Hair</li>
			<li>Skin</li>
			<li>Nails</li>
			<li>More</li>
		</ul>

		<h1>A full-service salon eager to serve you lavishly.</h1>

		<h2><a href="#contact" data-wipe="Call to Schedule an Appointment!">Call to Schedule an Appointment!</a></h2>
	</div>
</section>

<section class="Section--about" id="about">

	<div class="FancyDivider">
		<div class="FancyDivider-stripe"></div>
		<div class="FancyDivider-stripe"></div>
	</div>

	<div class="Header">
		<h2>About Lavish Salon &amp; Spa</h2>
		{% include partial-lines.html %}
	</div>

	<div class="Container">

		<p>We're a full-service salon and spa in Echo, MN offering a wide variety of hair, skin, &amp; nail services. Our mission and our passion are to serve you lavishly, just as our Father has lavishly shown His love for us.</p> 

		<p>Call or message us to schedule an appointment with our friendly staff today! We accept all major credit cards and process payments using <strong>Square</strong>.</p>

	</div>

</section>

<section class="Section--services" id="services">
	<div class="Header Header--white">
		<h2>Our Services</h2>
		{% include partial-lines.html %}
	</div>

	<a href="#contact" class="Specials" title="Current Service Specials" id="serviceSpecials">
		<ul></ul>
	</a>
	
	<div class="Container">
		<p>The variety of our services is wide and always growing. If you're in need of a service not listed here, just ask to find out if we can help you out!</p>

		<ul class="SPList">
			<li>Color</li>
			<li>Highlights</li>
			<li>Cuts</li>
			<li>Perms</li>
			<li>Deep Conditioning</li>
			<li>Chemical Straighteners</li>
			<li>Fashion Colors</li>
			<li>Ear Piercing</li>
			<li>Massage</li>
			<li>Facials</li>
			<li>Spray Tanning</li>
			<li>Body Waxing</li>
			<li>Pedicures</li>
			<li>Manicures</li>
			<li>Gel Nails</li>
			<li>Makeup Applications</li>
		</ul>
	</div>
</section>

<section class="Section--divider" id="dividerMirror">
	<div class="Section--wrapper">
		<aside>
			<span></span>
		</aside>
		<i>{% include svg/icon-scissors.svg %}</i>
		<aside>
			<span></span>
		</aside>
	</div>
</section>

<section class="Section--testimonials" id="testimonials">
	<div class="Background"></div>

	<div class="Header">
		<h2>What People Are Saying</h2>
		{% include partial-lines.html %}
	</div>

	<div class="Container">

		<ul class="Slider" id="testimonialSlider">
			<li>
				<div>
					<figure>
					    <svg viewBox="0 0 1792 1792">
			                <use xlink:href="#bubbles"/>
			            </svg>
					</figure>
					<p class="Slider-text">
						Lavish Salon has excellent service, experience and customer care. They go above and beyond. You walk out, or strut, feeling sassy, relaxed and pleased.
					</p>
				</div>
			</li>
			<li>
				<div>
					<figure>
						<svg viewBox="0 0 1792 1792">
			                <use xlink:href="#bubbles"/>
			            </svg>
					</figure>
					<p class="Slider-text">
						Lavish Salon goes the extra mile to make you feel special. Wouldn't go anywhere else!
					</p>
				</div>
			</li>
		</ul>

		<ul class="SliderNav">
			<li id="slickPrev"><a title="Previous Testimonials">previous</a></li>
			<li id="slickNext"><a title="Next Testimonials">next</a></li>
		</ul>
	</div>
</section>

<section class="Section--divider" id="dividerMirror">
	<div class="Section--wrapper">
		<aside>
			<span></span>
		</aside>
		<i>{% include svg/icon-mirror.svg %}</i>
		<aside>
			<span></span>
		</aside>
	</div>
</section>

<section class="Section--products" id="products">
	<div class="Header Header--white">
		<h2>Premium Products</h2>
		{% include partial-lines.html %}
	</div>

	<a href="#contact" class="Specials" title="Current Product Specials" id="productSpecials">
		<ul></ul>
	</a>

	<div class="Container">
		<p>We offer premium hair, skin, and nail products to complement our services. Below are just a few.</p>

		<span class="SPLabel">For Hair</span>
		<ul class="SPList SPList--hair">
			<li>Redken</li>
			<li>Malibu</li>
			<li>Matrix</li>
			<li>Kenra</li>
			<li>Big Sexy</li>
			<li>Pureology</li>
			<li>Surface</li>
		</ul>

		<span class="SPLabel">For Nails</span>
		<ul class="SPList SPList--nails">
			<li>Young Nails</li>
			<li>Morgan Taylor</li>
			<li>Gelish</li>
			<li>Shellac</li>
			<li>NexGen Nails</li>
		</ul>
	</div>
</section>

<section class="Section--divider" id="dividerShampoo">
	<div class="Section--wrapper">
		<aside>
			<span></span>
		</aside>
		<i>{% include svg/icon-shampoo.svg %}</i>
		<aside>
			<span></span>
		</aside>
	</div>
</section>

<section class="Section--contact" id="contact">
	<div class="Background"></div>
	
	<div class="Header">
		<h2>Contact Us Today!</h2>
		{% include partial-lines.html %}
	</div>

	<div class="Container">

		<aside>
			<p>We're eager to meet you! Contact us today with your questions or about setting up an appointment, and we'll get back to you as soon as possible. </p>

			<ul class="ContactList">
				<li>
					<i>{% include svg/icon-clock.svg %}</i>
					<ul class="HoursList" id="hoursList">
						<li><strong>Monday:</strong>4pm - 8pm</li>
						<li><strong>Tuesday:</strong>12p - 8pm</li>
						<li><strong>Wednesday:</strong>9am - 6pm</li>
						<li><strong>Thursday:</strong>9pm - 6pm</li>
						<li><strong>Friday:</strong>9pm - 2pm</li>
						<li><strong>Saturday:</strong>9am - 12p</li>
					</ul>
				</li>
				<li>
					<i>{% include svg/icon-map-marker.svg %}</i>
					{{ site.address }}<br>Echo, MN
				</li>
				<li>
					<i>{% include svg/icon-phone.svg %}</i>
					<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
				</li>
				<li>
					<i>{% include svg/icon-facebook.svg %}</i>
					<a href="{{ site.facebook }}">{{ site.facebook }}</a>
				</li>
			</ul>

		</aside>

		<aside>

			<form id="contactForm" action="//formspree.io/alex@macarthur.me" method="POST">
				<p>
					<label>Name</label>
            		<input id="formName" type="text" name="name"required>
            	</p>
            	<p>
            		<label>Email Address</label>
            		<input id="formEmail" type="email" name="_replyto" required>
            	</p>
            	<p>
            		<label>Phone Number</label>
            		<input id="formPhone" type="tel" name="phone">
            	</p>
            	<p>
            		<label>Message</label>
            		<textarea rows="5" id="formMessage" name="message"></textarea>
            	</p>
            	<div class="Form--row">
	            	<input type="text" name="_gotcha" style="display:none" />
	            	<input type="hidden" name="_subject" value="New Lavish Salon &amp; Spa Form Submission" />
		            <button type="submit" data-wipe="Submit">Submit</button>
		            <div id="statusMessages"></div>
	            </div>
	        </form>
		</aside>
	</div>

</section>

<section class="Section--divider" id="dividerScissors">
	<div class="Section--wrapper">
		<aside>
			<span></span>
		</aside>
		<i>{% include svg/icon-scissors.svg %}</i>
		<aside>
			<span></span>
		</aside>
	</div>
</section>
