---
layout: default
---

<section class="Section--hero Hero">

	<ul class="Hero-images">
		<li>

		</li>
		<li>
			
		</li>
		<li>
	
		</li>
	</ul>

	<ul class="Hero-text">
		<li><h2>Hair</h2></li>
		<li><h2>Skin</h2></li>
		<li><h2>Nails</h2></li>
	</ul>

</section>

<section class="Section--about">

	<div class="Header">
		<h2>About Lavish Salon &amp; Spa</h2>
		{% include partial-lines.html %}
	</div>

	<div class="Container">

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

	</div>

</section>

<section class="Section--testimonials">

	<div class="Header">
		<h2>What People Are Saying</h2>
		{% include partial-lines.html %}
	</div>

	<div class="Container">

		<ul class="Slider" id="testimonialSlider">
			<li>
				<div>
					<figure>

					</figure>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
					</p>
				</div>
			</li>

			<li>
				<div>
					<figure>

					</figure>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
					</p>
				</div>
			</li>

			<li>
				<div>
					<figure>

					</figure>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
					</p>
				</div>
			</li>

			<li>
				<div>
					<figure>

					</figure>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
					</p>
				</div>
			</li>

			<li>
				<div>
					<figure>

					</figure>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
					</p>
				</div>
			</li>
		</ul>

		<ul class="SliderNav">
			<li id="slickPrev"><a title="Previous Testimonials">&lt;</a></li>
			<li id="slickNext"><a title="Next Testimonials">&gt;</a></li>
		</ul>
	</div>
</section>

<section class="Section--divider">
	<i>{% include svg/icon-mirror.svg %}</i>
</section>

<section class="Section--products">
	<div class="Header Header--white">
		<h2>Premium Products</h2>
		{% include partial-lines.html %}
	</div>

	<div class="Container">
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>

		<ul class="ProductList">
			<li>Hair Stuff</li>
			<li>Nail Stuff</li>
			<li>Other Stuff</li>
			<li>Hair Stuff</li>
			<li>Nail Stuff</li>
			<li>Other Stuff</li>
		</ul>
	</div>
</section>

<section class="Section--divider">
	<i>{% include svg/icon-shampoo.svg %}</i>
</section>

<section class="Section--contact">
	
	<div class="Header">
		<h2>Contact Us Today!</h2>
		{% include partial-lines.html %}
	</div>

	<div class="Container">

		<aside>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>

			<ul class="ContactList">
				<li>Open 6am - 9pm, Monday - Friday</li>
			</ul>

		</aside>

		<aside>

		</aside>
	</div>

</section>