<footer>

	<ul>
		<li>
			<h4>Call Today!</h4>
			<span><a href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
		</li>

		<li class="Logo Logo--footer">
			<a href="#top">
        <svg viewBox="0 0 267.896 123.5">
            <use xlink:href="#svgLogo"/>
        </svg>
      </a>
		</li>

		<li>
			<h4>Follow Us on <br>Facebook!</h4>
			<span><a href="{{ site.facebook }}">Facebook</a></span>
		</li>

	</ul>

	<span class="Copyright">Copyright &copy; <span id="year">2016</span> Lavish Salon &amp; Spa | Designed &amp Created by <a href="http://macarthur.me" title="Alex MacArthur | Web Developer" alt="Alex MacArthur | Web Developer">Alex MacArthur</span></span>
</footer>
