<header>

	<div class="TopBar">
		<ul>
    		<li>
    			{% include svg/icon-clock.svg %}
    			<a href="#visit">9am - 6pm, M - F</a>
    		</li>

    		<li>
    			{% include svg/icon-map-marker.svg %}
    			<a href="https://www.google.com/maps/place/266+2nd+Ave+W,+Echo,+MN+56237/@44.6167573,-95.4174969,17z/data=!3m1!4b1!4m5!3m4!1s0x878a95a2792accbb:0x5793778d9c43192!8m2!3d44.6167573!4d-95.4153029">266 2nd Avenue W. Echo, MN</a>
    		</li>

    		<li>
    			{% include svg/icon-phone.svg %}
    			<a href="tel:507-925-4247">507-925-4247</a>
    		</li>
    	</ul>
	</div>

    <nav>

    	<ul>
    		<li>
    			<a href="#services">Services</a>
    		</li>

    		<li>
    			<a href="#services">Services</a>
    		</li>

    		<li class="Logo">
    			<a href="#services">LOGO</a>
    		</li>

    		<li>
    			<a href="#services">Services</a>
    		</li>

    		<li>
    			<a href="#services">Services</a>
    		</li>

    	</ul>
      
    </nav>

    <span class="Verse">"See what great love the Father has lavished on us..." - 1 John 3:1</span>

</header>
