<header id="top">

	<div class="TopBar">
		<ul>
            <li>
                <a href="https://www.google.com/maps/place/266+2nd+Ave+W,+Echo,+MN+56237/@44.6167573,-95.4174969,17z/data=!3m1!4b1!4m5!3m4!1s0x878a95a2792accbb:0x5793778d9c43192!8m2!3d44.6167573!4d-95.4153029">
                    {% include svg/icon-map-marker.svg %}
                    266 2nd Ave. W. Echo, MN
                </a>
            </li>

    		<li>
    			<a href="#contact">
                    {% include svg/icon-clock.svg %}
                    <p id="topBarHours">View Hours</p>
                </a>
    		</li>

    		<li>
    			<a href="tel:507-925-4247">
                    {% include svg/icon-phone.svg %}
                    <strong>Call Today!</strong> 507-925-4247
                </a>
    		</li>
    	</ul>
	</div>

    <div class="MobileHeader">

        <div id="menuToggle">
            <span>Menu</span>
        </div>

        <div class="Logo">
            <svg viewBox="0 0 267.896 123.5">
                <use xlink:href="#svgLogo"/>
            </svg>
        </div>

    </div>

    <nav>

        <span id="menuClose">{% include svg/icon-close.svg %}</span>

    	<ul>
    		<li>
    			<a href="#about">About</a>
    		</li>

            <li>
                <a href="#services">Services</a>
            </li>

    		<li>
    			<a href="#testimonials">Testimonials</a>
    		</li>

    		<li class="Logo Logo--header">
                <svg viewBox="0 0 267.896 123.5">
                    <use xlink:href="#svgLogo"/>
                </svg>
    		</li>

    		<li>
    			<a href="#products">Products</a>
    		</li>

	            <li>
	                <a href="{{site.facebook}}" class="is-offsite">Facebook</a>
	            </li>

    		<li>
    			<a href="#contact">Contact Us</a>
    		</li>

    	</ul>
      
    </nav>

    <span class="Verse">"See what great love the Father has lavished on us..." - 1 John 3:1</span>

    <div class="FancyDivider FancyDivider--above">
        <div class="FancyDivider-stripe"></div>
        <div class="FancyDivider-stripe"></div>
    </div>

</header>
