html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
  color: $purple;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: $purple;
	@extend %josephin;
}

span {
	@extend %josephin;
}

p {
	@extend %josephin;
    font-size: 2rem;
    text-align: center;
    line-height: 1.25;
    max-width: 700px;
    margin: 1.5rem auto;
}

h2 {
	@extend %satisfy;
	text-align: center;
	margin-bottom: 1rem;
	font-size: 3.5rem;
}

section {
	position: relative;
}