html {
  font-size: 62.5%;

  * {
	box-sizing: border-box;
  }
}

body {
  font-size: 1.6rem;
  color: $gray;
}

a {
	text-decoration: none;
	color: $gray;
	@extend %josephin;
}

span {
	@extend %josephin;
}

p {
	@extend %josephin;
    font-size: 2rem;
    text-align: center;
    line-height: 1.25;
    max-width: 700px;
    margin: 1.5rem auto;
}

ul {
	padding: 0;
	list-style: none;
}

li {
	@extend p;
}

h2 {
	@extend %satisfy;
	text-align: center;
    margin: 0 0 1rem;
	font-size: 3.5rem;
}

section {
	position: relative;
}