#statusMessages {
	display: none;
}

input,
textarea {
	background: white;
	width: 100%;
	border-radius: 2px;
	border: 1px solid rgba($primary-color, .15);
	padding: 1rem;
	outline: none;
}

form {
	p {
		text-align: left;
	}
}

input[type='submit'] {
	@extend %satisfy;
	color: white;
	background: $primary-color;
    width: auto;
	float: right;
	padding: 1rem 3rem;
    font-size: 2rem;
}