#statusMessages {
	transition: all .25s ease-in-out;
	opacity: 0;
	width: calc(100% - 125px);
	border-radius: 2px;
	background: $blue;
    color: white;
    padding: 1.25rem;
    position: absolute;

	&[class^='form-'] {
		opacity: 1;
	}
}

.form-failure {

}

.form-success {

}

input,
textarea {
	background: white;
	width: 100%;
	border-radius: 2px;
	border: 1px solid rgba($primary-color, .15);
	padding: 1rem;
	outline: none;
}

form {
	position: relative;

	p {
		text-align: left;
	}
}

input[type='submit'] {
	@extend %satisfy;
	color: white;
	background: $primary-color;
    width: auto;
	float: right;
	padding: 1rem 3rem;
    font-size: 2rem;
    width: 115px;
    display: block;
    text-align: center;

    &:hover {

    }
}