#statusMessages {
	transition: all .25s ease-in-out;
	opacity: 0;
	width: calc(100% - 125px);
	border-radius: 2px;
	background: $blue;
    color: white;
    padding: 1.25rem;
    position: absolute;
    text-align: center;

    @include media($mobile) {
	    position: relative;
	    width: 100%;
	    margin-top: 2rem;
    }

	&[class^='form-'] {
		opacity: 1;
	}

	&.form-failure {
		background: $red;
	}
}

input,
textarea {
	background: white;
	width: 100%;
	border-radius: 2px;
	border: 1px solid rgba($primary-color, .15);
	padding: 1rem;
	outline: none;
}

form {
	position: relative;

	p {
		text-align: left;
	}
}