.Container {
	@extend %clearfix;
	position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 1;

    .Section--testimonials & {
    	overflow: hidden;
    }
}

aside {
	width: 46%;
	float: left;

	* {
		text-align: left;
	}

	&:first-child {
		margin-right: 8%;
	}
}

.Header {
	position: relative;
    z-index: 1;

	ul {
		li {
			border: 0;
			background: $gray;
			height: 2px;
			max-width: 250px;
			margin: auto;

			&:last-child {
				max-width: 150px;
			    margin-top: 1rem;
			}
		}
	}	
}

.Header--white {
	ul {
		li {
			background: white;
		}
	}
}

.Logo {
	min-width: 200px;
	fill: $gray;

	a {
		display: block;
	}
}

.Logo--footer {
	fill: white;
}

section {
	@extend %z-index;
	position: relative;
	padding: 4rem 0;
    overflow: hidden;
    background: rgba(white, 1);
}

.Background {
	@extend %fill;
	height: 150%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}

.Section--hero {
	background: gray;
	height: 500px;
	overflow: hidden;
}

.Section--about {
	padding: 9rem 0;
}

.Section--divider {
    text-align: center;

	span {
		transition: all .75s ease-in-out .25s;
		display: inline-block;
    	display: flex;
    	align-items: center;
		width: 150px;
		height: 60px;
		opacity: 0;

		&.Swirl--right {
			transition: all .75s ease-in-out .35s;
		}

		svg {
			width: 100%;
			fill: $gray;
		}

		&.is-faded-in {
			opacity: 1;
		}
	}

	i {
		display: inline-block;
		width: 75px;
	    margin: 0 2rem;

		svg {
			max-width: 100%;

			path {
				fill: $gray;
			}
		}
	}
}

.Swirl {
	height: 60px;
}

.Section--wrapper {
	display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section--testimonials {
	@extend %overlay;
	
	.Background {
		background-image: url('../assets/img/background-testimonials.jpg');
	}
}

.Section--contact {
	@extend %overlay;
	
	.Background {
		background-image: url('../assets/img/background-contact.jpg');
	}
}

.Section--products {
	background: $primary-color;

	* {
		color: white;
	}
}

.Hero-images {
	@extend %fill;
	margin: 0;

	li {
		position: relative;
		width: 33.333%;
		height: 100%;
		float: left;
		margin: 0;
	    overflow: hidden;
        padding: 1rem 2rem;
	    background: url('https://static.pexels.com/photos/29593/pexels-photo-large.jpg') no-repeat;
		background-size: cover;
		background-position: center;

		&:nth-child(2) {
			background-image: url('https://static.pexels.com/photos/51969/model-female-girl-beautiful-51969-large.jpeg');
		}	

		&:nth-child(3) {
			background-image: url('https://static.pexels.com/photos/26739/pexels-photo-26739-large.jpg');
		}

		&:before {
			@extend %fill;
			transition: opacity .35s ease-in-out;
			content: '';
			background: black;
			opacity: 0;
		}

		div {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		h2 {
			transition: top .35s ease-in-out;
			text-align: center;
			color: white;
			width: 100%;
			font-size: 6rem;
    		font-weight: 100;
		    display: block;
		}

		p {
			transition: max-height .35s ease-in-out 0s, opacity .35s ease-in-out 0s;
			color: white;
			opacity: 0;
			display: block;
			max-height: 0;
			overflow: hidden;
			margin: 0;
		}

	    &:hover {
	    	&:before {
				opacity: .6;
	    	}

	    	p {
	    		max-height: 150px;
	    		opacity: 1;
	    	}
	    }
	}
}

.Slider {
	margin-bottom: 0;
    margin-top: 0;

	li {
		position: relative;
	    padding: 2rem;
	    text-align: center;

	    div {
			background: white;
		}
	}

	figure {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		position: absolute;
		left: 50%;
		margin: 0;
		transform: translate(-50%, -50%);
		background-size: cover;
		background-position: center;
		background: url('http://placehold.it/350x150');
	}

	p {
	    padding: 6rem 2rem 2rem;
	}

	.slick-list {
		overflow: visible;
	}
}

.SliderNav {
    text-align: center;
    margin: 1rem 0 0;

	li {
	    display: inline-block !important;
	    position: absolute;
    	bottom: 0;
    	transition: all .25s ease-in-out;

	    &:last-child {
	    	left: 51%;

	    	&:hover {
	    		left: 51.5%;
	    	}
	    }

	    &:first-child {
	    	right: 51%;

	    	&:hover {
	    		right: 51.5%;
	    	}
	    }

	    a {
	    	cursor: pointer;
    	    font-size: 3rem;	
	    }
	}
}

.ProductList {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	li {
		flex: 1 0 33%;
		font-size: 3rem;
	}
}

.ProductList--description {
	height: 0;
	overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
}

.ContactList {
	margin-left: 3rem;

	li {
		position: relative;
	}

	i {
		position: absolute;
		left: -30px;
		width: 20px;
		height: 20px;
		display: inline-block;

		svg {

			* {
				fill: $gray;
			}
		}
	}
}