.Container {
	@extend %clearfix;
	position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 1;

    .Section--testimonials & {
    	overflow: hidden;
    }
}

aside {
	width: 46%;
	float: left;

	@include media($phablet) {
		width: 100%;
		float: none;
	}

	* {
		text-align: left;
	 	word-wrap: break-word;
	}

	&:first-child {
		margin-right: 8%;

		@include media($phablet) {
			margin: 0;
		}
	}
}

.Header {
	@extend .Container;
	position: relative;
    z-index: 1;
    margin-bottom: 3rem;

    h2 {
	    margin-bottom: 2.5rem;
    }

	ul {
	    margin: 0;

		li {
			border: 0;
			background: $gray2;
			height: 2px;
			border-radius: 100px;
			max-width: 250px;
			margin: auto;

			@include media($mobile) {
				height: 3px;
			}

			&:last-child {
				max-width: 150px;
			    margin-top: 1rem;
			}
		}
	}	
}

.Header--white {
	ul {
		li {
			background: white;
		}
	}
}

.Logo {
	min-width: 200px;

	a {
		display: block;
	}

	svg {
		fill: $gray;
	}
}

.Logo--header {
	@include media($phablet) {
		display: none;
	}
}

.Logo--footer {
	fill: white;
}

section {
	@extend %z-index;
	position: relative;
	padding: 4rem 0;
    overflow: hidden;
    background: rgba(white, 1);
}

.Background {
	@extend %fill;
	height: 150%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}

.Section--about {
	padding: 9rem 0;
}

.Section--divider {
    text-align: center;

    aside {
    	display: inline-block;
    	border-radius: 20px;
    	height: 3px;
    	min-width: 25%;
    	max-width: 500px;
    	position: relative;
    	margin: 0;
    	overflow: hidden;
    	background: linear-gradient(90deg, rgba(white, .75) 0%, rgba($gray, .25) 100%);

    	span {
    		@extend %fill;
    		transition: all .5s ease-in-out;
    		background: white;
    		height: 5px;
    		transform: translateX(0%);
    	}

    	&:last-of-type {
    		background: linear-gradient(90deg, rgba($gray, .25) 0%, rgba(white, .5) 100%);
    	}
    }

    &.is-visible {

    	i {
			opacity: 1;
    	}

    	aside {
    			
    		span {
    			transform: translate(-100%);
    		}

    		&:last-of-type {
    			
    			span {
    				transform: translateX(100%);
    			}
    		}
    	}
    }

	i {
		display: inline-block;
		width: 75px;
	    margin: 0 2rem;
	    background: white;
	    opacity: 0;
	    transition: opacity .5s ease-in-out;

		svg {
			max-width: 75%;

			path {
				fill: rgba($gray, .25);
			}
		}
	}
}

.Swirl {
	height: 60px;
}

.Section--wrapper {
	display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section--testimonials {
	@extend %overlay;
	
	.Background {
		background-image: url('../assets/img/background-testimonials.jpg');
	}
}

.Section--contact {
	@extend %overlay;
	
	.Background {
		background-image: url('../assets/img/background-contact.jpg');
	}
}

.Section--products {
	background: $primary-color;

	* {
		color: white;
	}
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.Section--hero {
	background: url('https://static.pexels.com/photos/29593/pexels-photo-large.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 600px;
	overflow: visible;
    padding: 2rem;

	&:after {
		@extend %fill;
		content: '';
		background: rgba(white, .7);
	}

	.Wrapper {
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    z-index: 1;
	}

	h1 {
		@extend %satisfy;
		position: relative;
		font-size: 6rem;
    	z-index: 1;
    	line-height: 1.25;
 	   	margin: 0;
 	   	color: $gray;
 	   	font-weight: normal;
 	   	text-align: center;
   	    margin-bottom: 3rem;

   	    @include media($mobile) {
	    	font-size: 4.5rem;
	    }
	}

	ul {
		text-align: center;
		display: flex;
	    justify-content: center;
        align-items: center;
        margin: 0 0 2.5rem;

		li {
			position: relative;
			color: $gray;
			display: inline;
			opacity: 0;
			margin: 0;
			text-transform: uppercase;

			& + li {
				margin-left: 5rem;
			    padding-left: 1rem;

			    @include media($mobile) {
			    	margin-left: 2rem;
			    	padding-left: 1rem;
			    }

				&:before {
					content: '';
					display: block;
					width: 40px;
					height: 1px;
					background: $gray;
					position: absolute;
					top: 45%;
					transform: translateY(-50%);

				    @include media($mobile) {
				    	width: 10px;
				    }
				}

				&:before {
					right: 100%;
				}
			}

			@for $i from 1 through 7 {
				$delay: (.125 * $i) + .15;
				&:nth-child(#{$i}) {
					animation: fadeIn 2s ease-in-out #{$delay}s forwards
				}
			}
		}
	}

	h2 {
	    position: relative;
    	z-index: 1;
		
		a {
			color: $gray;
		    font-size: 2.5rem;
		    font-weight: 100;
		    border-radius: 5px;

		    @include media($mobile) {
		    	font-size: 2rem;
		    }
		}
	}
}

.FancyDivider {
	position: absolute;
	width: 100%;
	border-top: 7px solid rgba($secondary-color, .75);
	top: 5px;
	left: 0;
	z-index: 1;
}

.FancyDivider--above {
	bottom: 5px;
    top: auto;
    transform: rotate(180deg);
}

.FancyDivider-stripe {
	&:first-child {
		height: 5px;
		margin: 8px 0;
		background: rgba($secondary-color, .5);
	}

	&:last-child {
		height: 3px;
		background: rgba($secondary-color, .25);
	}
}

.Slider {
	margin-bottom: 0;
    margin-top: -3rem;

	li {
		position: relative;
	    padding: 2rem;
	    text-align: center;
        margin-bottom: 0;

	    div {
			background: white;
		}
	}

	figure {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		position: absolute;
		left: 50%;
		margin: 0;
		transform: translate(-50%, -50%);
		background-size: cover;
		background-position: center;
		background: url('http://placehold.it/350x150');
	}

	p {
	    padding: 6rem 2rem 2rem;
	}

	.slick-list {
		overflow: visible;
	}
}

.SliderNav {
    text-align: center;
    margin: 0;

	li {
	    display: inline-block !important;
    	bottom: 0;
    	transition: all .15s ease-in-out;
	    opacity: .75;
	    margin-top: 0;

	    &:hover {
	    	opacity: 1;
	    }

	    &:first-child {
	    	margin-right: 2rem;
	    }

	    a {
	    	cursor: pointer;
    	    font-size: 2.5rem;	
	    }
	}
}

.SPList {
	position: relative;
	display: block;
	text-align: center;

	li {
		display: inline-block;
		position: relative;
		font-size: 3rem;
		padding: 0 2rem;


	}
}

.ProductList--description {
	height: 0;
	overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
}

.ContactList {
	margin: 0 0 0 3rem;

	@include media($phablet) {
		margin: 4rem 0 4rem 3rem;
	}

	li {
		position: relative;
	}

	i {
		position: absolute;
		left: -30px;
		width: 20px;
		height: 20px;
		display: inline-block;

		svg {

			* {
				fill: $gray;
			}
		}
	}
}

.HoursList {
	li {
		margin: 0;

		strong {
			margin-right: 1rem;
		}
	}
}