header {
	position: relative;

	ul {
		@extend .Container;
		width: 100%;
		text-align: center;
		display: flex;
	}
}

.TopBar {
	background: $purple;

	ul {
    	justify-content: space-around;

		li {
			display: inline;
			display: flex;
			align-items: center;

			&:last-child {
				a {
				    font-size: 1.85rem;

        			@include media($phablet) {
	    			    font-size: 1.45rem;
	    			}
				}
			}

			a {
				color: white;
				text-transform: uppercase;
				font-size: 1.75rem;
    			font-weight: lighter;

    			@include media($phablet) {
    			    font-size: 1.25rem;
    			}
			}

			svg {
				height: 25px;
    			margin: 0 1rem 0;

    			@include media($phablet) {
    			    height: 20px;
    			}
			}
		}
	}
}

nav {
    padding: 5rem 0;

	ul {
		justify-content: space-around;

		li {
			display: inline;

			a {
				text-transform: uppercase;
			    font-size: 2rem;
			}
		}
	}
}

.Verse {
	@extend %satisfy;
	display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: .5rem;
    font-size: 1.5rem;
}