header {
	@extend %z-index;
	position: relative;
	background: white;
    padding-top: 55px;
    z-index: 2;

	ul {
		@extend .Container;
		max-width: 1200px;
		width: 100%;
		text-align: center;
		display: flex;
	}
}

.TopBar {
	background: $primary-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

	ul {
    	justify-content: space-around;

		li {
			display: inline;
			display: flex;
			align-items: center;

			&:last-child {
				a {
				    font-size: 1.85rem;

        			@include media($phablet) {
	    			    font-size: 1.45rem;
	    			}
				}
			}

			a {
				color: white;
				text-transform: uppercase;
				font-size: 1.75rem;
    			font-weight: lighter;

    			@include media($phablet) {
    			    font-size: 1.25rem;
    			}
			}

			svg {
				height: 25px;
    			margin: 0 1rem 0;

    			@include media($phablet) {
    			    height: 20px;
    			}
			}
		}
	}
}

nav {
    padding: 3rem 0;

    @include media($phablet) {
    	transition: all .25s ease-in-out;
    	transform: translateX(100%);
    	position: fixed;
	    background: rgba($primary-color, .85);
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    padding-top: 5rem;
	    z-index: 1;

	    &.is-open {
	    	transform: translateX(0);
	    }
    }

	ul {
		justify-content: space-around;
	    align-items: center;

	    @include media($phablet) {
	    	flex-direction: column;
	    }

		li {
			display: inline;

    			&:after {
					content: '';
					width: 100%;
					height: 0;
					background: $primary-color;
				}

				&:hover {
					&:after {
						height: 10px;
					}
				}

			a {
			    font-size: 2.5rem;

			    @include media($phablet) {
			    	color: white;
			    }
			}
		}
	}
}

#menuToggle {
	background: $gray;
	border-radius: 2px;
	color: white;
	position: absolute;
	right: 0;
	top: calc(50% - 50px);
	transform: translateY(-50%);
}

.Verse {
	@extend %satisfy;
	display: block;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 2.25rem;
    z-index: 5;
    color: $gray;
}